html {
  width: auto;
  height: 100%;
}

body {
  background-color: #93c7d4;
  height: 100%;
  margin: 20px;
}

h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  color: #3e6993;
  font-size: 60px;
  text-align: center;
}

h2, h3, p {
  font-family: 'Shanti', sans-serif;
  color: #442da4;
  padding-left: 20px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 30px;
  padding-top: 2px;
}

.about-div {
  float: right;
  padding: 0 20px 10px;
}

.about-div p {
  color: #244e29;
}

.profile-pic {
  border-radius: 50%;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
}

video {
  max-width: 100%;
}

#nameDate {
  width: 800px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #244e29;
  font-family: 'Shanti', sans-serif;
}

label {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

input {
  width: 200px;
  height: 20px;
  font-size: 20px;
  border: 2px solid #244e29;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  display: block;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: #3e6993;
  margin: auto;
}

#questionp, #sliderp {
  text-align: center;
  margin-top: 5px;
}

#question-form p {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #244e29;
}

#question-form {
  padding: 20px;
  text-align: center;
}

select {
  margin-left: 20px;
  font-size: 25px;
  border: 2px solid #244e29;
}

#question-form button {
  margin-top: 20px;
  color: #000;
  border: 2px solid #3e6993;
  text-align: center;
}

#slide-container {
  max-width: 500px;
  position: relative;
  margin: 20px auto;
}

.slides {
  width: 100%;
  margin: auto;
}

#display-left, #display-right {
  cursor: pointer;
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  vertical-align: middle;
}

#display-left {
  left: 0%;
}

#display-right {
  right: 0%;
}

#drink-blurb, #drink-name {
  text-align: center;
  padding: 0;
  color: #244e29;
}

#results {
  width: 90%;
  margin: auto;
}

#results-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 600px;
}

#results-blurb {
  color: #244e29;
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

#resultb1, #resultb2 {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border: 2px solid #3e6993;
  font-family: Verdana, sans-serif;
}

#resultb2 {
  margin-top: 10px;
}

#cheers-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 20px;
}
