html {
  width: auto;
  height: 100%;
}

body {
  background: linear-gradient(steelblue, beige);
  height: 100%;
  background-attachment: fixed;
}

h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  color: #a0ced9;
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 50px;
}

p{
  font-size: 40px;
  padding-top: 2px;
}

h2, p {
  font-family: 'Shanti', sans-serif;
  color: #ffc09f;
  padding-left: 20px;
}

div {
  float: right;
  padding: 0 20px 10px;
}

#forrest #zarkle #jose #mario {
  border-radius: 50%;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
}

video {
  max-width: 100%;
}
